@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-bg-primary-white: #F9F8F7;
  --color-font-color-black: #070707;
  --color-font-color-white: #FFF;
  --color-button-primary-black: #070707;
  --color-button-primary-orange: #FFDFB6;
  --color-button-primary-orange-pressed: #FFB85E;
  --color-button-primary-black-pressed: #515356;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-font-color-black);
  background-color: var(--color-background-bg-primary-white);
}


body {
  margin: 0;
}
