/* Use Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define base styles for h3 and h4 */
@layer base {
  h2 {
    @apply font-inter text-2xl font-semibold
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl text-font_primary_gray font-semibold;
  }
}

:root {
  --color-background-primary-white: #F9F8F7;
  --color-background-primary-black: #121212;
  --color-widget-background-white: #ffffff;
  --color-widget-background-black: #383838;
  --color-font-color-black: #070707;
  --color-font-color-white: #ffffff;
  --color-font-color-gray: #515356;
  --color-font-color-subtle: #acacac;
  --color-button-primary-black: #070707;
  --color-button-primary-orange: #ffdfb6;
  --color-button-primary-orange-pressed: #ffb85e;
  --color-button-primary-black-pressed: #515356;

  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-background: var(--color-background-primary-white);
  --color-font: var(--color-font-color-black);
  --color-icons: var(--color-stroke-black);

  color: var(--color-font);
  background-color: var(--color-background);
}

::-webkit-scrollbar {
  display: none;
}

.dark {
  --color-background: var(--color-background-primary-black);
  --color-font: var(--color-font-color-white);
}

body {
  margin: 0;
}

.your-component-class {
  background-color: var(--color-background);
  color: var(--color-font);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveToTop {
  to {
    top: 0;
  }
}

@keyframes moveToBottom {
  to {
    bottom: 0;
  }
}

.animation-top {
  animation: moveToTop 0.8s ease forwards;
}

.animation-bottom {
  animation: moveToBottom 0.8s ease forwards;
}

.animation-fade-out {
  animation: fadeOut 1.5s ease;
}